.address {
  background-color: #293bdc;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &--container{
    margin-top: 100px;
    transform: translateX(35px);
  }
  &__bar_map {
    position: relative;
    width: 100px;
    background: #000000;
  }
  &__img{
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    &:hover{
      cursor: pointer;
    }
  }
  &__caption{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  &__description{
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 400px;
    margin-bottom: 80px;
  }
  &__btn{
    position: relative;
    @include btn();
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    border-radius: 10px;
    width: 280px;
    padding: 18px 35px;
    transition: all 1s ease-in;
    &:hover{
      cursor: pointer;
      background: #FFFFFF;
      color: #293BDC;
      &::before {
        content: "";
        width: 20px;
        height: 5px;
        background: #293BDC;
        position: absolute;
        transform: translateX(-195px);
        transition: all 1s;
        bottom: -4px;
      }
    }
    &::before {
      content: "";
      width: 20px;
      height: 5px;
      background: #293BDC;
      position: absolute;
      bottom: -4px;
      right: 30px;
      transition: all 1s;
    }
  }
  &__map_box{
    width: 40%;
    height: 600px;
  }
}
@media only screen and (max-width:1200px){
  .address{
    &__map_box{
      width: 45%;
      height: 500px;
    }
  }
}

@media only screen and (max-width:1100px) {
  .address {
    &__caption{
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__description{
      font-size: 18px;
      line-height: 150%;
      max-width: 400px;
      margin-bottom: 80px;
    }
    &__bar_map {
      position: relative;
      width: 100px;
      background: #000000;
    }
    &__map_box{
      width: 40%;
      height: 450px;
    }
  }
}
@media only screen and (max-width:767px) {
  .address {
    &__wrapper {
      @include display(center,center);
      flex-direction: column;
    }
    &--container{
      @include display(center,center);
      flex-direction: column;
      margin-top: 100px;
      transform: translateX(0);
    }
    &__caption{
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
    }
    &__description{
      text-align: center;
      font-size: 18px;
      line-height: 150%;
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__btn{
      font-size: 16px;
      width: 230px;
      padding: 15px 24px;
    }
    &__bar_map {
      display: none;
      position: relative;
      width: 100px;
      background: #000000;
      transform: translate(320%,-430px);
    }
    &__map_box{
      margin-top: 50px;
      width: 100%;
      height: 450px;
    }
  }
}

