.campaign{
  &__text{
    background: #293BDC;
    padding: 80px;
    max-width: 800px;
  }
  &__caption{
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
  }
  &__description{
    max-width: 660px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
  }
  &__wrapper{
    position: relative;
    @include display(center,space-between);
  }
  &__title{
    font-weight: 700;
    font-size: 48px;
    color: #293BDC;
  }
  &__info{
    max-width: 750px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  &__img{
    max-width: 627px;
    max-height: 440px;
  }
  &__image{
    margin: 150px 0;
    max-width: 1100px;
  }
  &__headline{
    font-weight: 700;
    font-size: 48px;
    color: #293BDC;
    margin-bottom: 20px;
  }
  &__texts{
    max-width: 640px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  &__heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #293BDC;
    max-width: 1250px;
    margin: 150px 0;
  }
}