.company {
  padding: 150px 0;
  background: #000000;
  &__caption {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
  }
  &__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    max-width: 870px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  &__btn {
    position: relative;
    @include btn();
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    padding: 20px 40px;
    transition: all 0.6s;
    &::before {
      content: "";
      width: 20px;
      height: 5px;
      background: #000000;
      position: absolute;
      bottom: -4px;
      right: 30px;
      transition: all 1s;
    }
    &:hover{
      cursor: pointer;
      background: #FFFFFF;
      color: #293BDC;
      &::before {
        content: "";
        width: 20px;
        height: 5px;
        position: absolute;
        transform: translateX(-120px);
        bottom: -4px;
      }
    }
  }
}
@media only screen and (max-width:1120px) {
  .company{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width:767px) {
  .company {
    padding: 50px 0;
    text-align: center;
    &__caption {
      font-size: 28px;
    }
    &__description {
      font-size: 15px;
    }
    &__btn {
      font-size: 15px;
    }
  }
}