.hero{
  &__caption{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #293BDC;
    max-width: 710px;
  }
  &__description{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-width: 577px;
  }
  &__btn{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 4px solid #293BDC;
    border-radius: 10px;
    padding: 20px 40px;
  }
}
