.services {
  padding: 150px 0;
  &--container {
    @include display(flex-start, flex-start);
    gap: 100px;
  }
  &__caption {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #293BDC;
  }
  &__description{
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    max-width: 490px;
    margin-top: 20px;
  }
  &__wrap_right {
    @include display(flex-start,flex-start);
    gap: 30px;
  }
  &__card{
    width: 300px;
  }
  &__card_text{
    margin-top: 40px;
    @include display(flex-start,flex-start);
  }
  &__title{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
  }
  &__info{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
    max-width: 330px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width:1120px) {
  .services {
    padding: 150px 0;
    &--container {
      @include display(flex-start, flex-start);
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 100px;
    }
    &__card{
      @include display(center,center);
      flex-direction: column;
      width: 300px;
    }
  }
}
@media only screen and (max-width:767px) {
  .services {
    padding: 50px 0;
    &--container {
      flex-direction: column;
      gap: 50px;
    }
    &__card{
      @include display(center,center);
      flex-direction: column;
      width: 300px;
    }
    &__caption {
      font-size: 28px;
    }
    &__description{
      font-size: 20px;
      line-height: 150%;
      margin-top: 10px;
    }
    &__wrap_right {
      display: block;
      gap: 20px;
    }
    &__card{
      width: 300px;
    }
    &__title{
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__info{
      font-size: 14px;
      line-height: 150%;
      color: #999999;
      max-width: 330px;
      margin-bottom: 30px;
    }
  }
}
